/* CSS */

body {
  background-color: #a3d5d3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    color: black;
    text-align: left;
}

a {
    color: black;
    text-align: left;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

h4 {
    color: black;
    text-align: center;
}

h5 {
    color: black;
    text-align: center;
}

.indent{
    margin-left: 25px;
    margin-right: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.deepIndent{
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonIntro{
    background-color: white;
    border: 2px solid #7518af;
    color: #7518af;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonHelp{
    background-color: #d7dae0;
    border: 2px solid black;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 6px;
    margin-left: 750px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonNext {
    background-color: #d7dae0;
    border: 2px solid #7518af;
    color: #7518af;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonTest{
    background-color: white;
    border: 2px solid #7518af;
    color: #7518af;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonLessonOne{
    background-color: #7518af;
    border: 2px solid #051f49;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 6px;
    margin-left: 0px;
    margin-right: 125px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonLessonTwo{
    background-color: #7518af;
    border: 2px solid #051f49;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonLessonThree{
    background-color: #7518af;
    border: 2px solid #051f49;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 6px;
    margin-left: 0px;
    margin-right: 125px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonLessonFour{
    background-color: #7518af;
    border: 2px solid #051f49;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 6px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}